@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Pretendard', sans-serif;
  margin:0;
}

.clipper {
  width: 2rem;
  height: 1rem;
  overflow: hidden;
}

.wheel {
  animation: spin 3s linear infinite;
  transform-origin: center center;
}
@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.bg-noise {
  background: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
  animation: noise-move 0.2s steps(2) infinite;
}

@keyframes noise-move {
  0% { background-position: 0 0; }
  100% { background-position: 100px 100px; }
}

