@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Pretendard', sans-serif;
  margin:0;
}

.clipper {
  width: 2rem;
  height: 1rem;
  overflow: hidden;
}

.wheel {
  animation: spin 3s linear infinite;
  transform-origin: center center;
}
@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.bg-noise {
  background: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
  animation: noise-move 0.2s steps(2) infinite;
}

@keyframes noise-move {
  0% { background-position: 0 0; }
  100% { background-position: 100px 100px; }
}

.grid-line.grid-layout{
  grid-column-gap: 0px;
  grid-row-gap:0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 0;
  display: grid;
  align-items: flex-start;
}
.award-line_flex{
  grid-column: 1;
  align-items: flex-start;
  display: flex;
}
.line-wrapper{
  width: 100%;
  min-width: 8.1rem;
  height:2.45rem;
  position: relative;
  display: flex;
}
.line-divider{
  transform-origin: 0%;
  align-self: flex-end;
  width:100%;
  height:1px;
  background-color: gray;
}
.line-divider.cc--slanted{
  transform-origin: 0 0;
  flex: none;
  align-self: flex-start;
  width:3.45rem;
  margin-right: -1.1rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.column-5{
  grid-column: 2;
}
.frame-top-bot{
  flex:1;
  justify-content: flex-start;
  display: flex;
}
.frame-top-bot_flex{
  flex:1;
  display: flex;
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
}
.frame-line.is--hor{
  flex:1;
  height:1px;
}
.frame-line{
  background-color: gray;
}
.frame-line.is--angle-left{
  transform-origin: 0 0;
  flex:none;
  width:3rem;
  height:1px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.frame-line.is--angle-right{
  transform-origin: 100% 0;
  flex:none;
  width:3rem;
  height:1px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.frame-line.is--mid{
  height:1px;
  margin-left:-0.9rem;
  margin-right:-0.9rem;
  position: relative;
  top:0.625rem;
}
.frame-line.is--menu{
  height:1px;
  margin-bottom: .6rem;
  margin-right: -.7rem ;
  margin-left: -.7rem;
}
.frame-line.is--angle-left_bot{
  transform-origin: 0 100%;
  flex: none;
  width:2.2rem;
  height:1px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.frame-line.is--angle-right_bot{
  transform-origin: 100% 100%;
  flex: none;
  width:2.2rem;
  height:1px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.line-wrapper-left{
  min-width:8.125rem;
  height:2.5rem;
  position: relative;
}
.spin-icon_wr{
  padding-left: 19px;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
  position: absolute;
  inset: 0%;
}
.spin-icon{
  width:2rem;
  height:1.05rem;
  position: relative;
  overflow: hidden;
}
.spin-icon_spinner{
  z-index: 1;
  animation: 15s linear infinite rotate360;
  -webkit-animation: 15s linear infinite rotate360;
  position: absolute;
  inset:0%
}
.line-wrapper-left.cc--awards{
  width:30vw;
}

@media screen and (max-width:991px){
  .frame-line{
    z-index: 1;
    position: relative;
  }
  .frame-line.is--angle-right_bot, .frame-line.is--angle-left_bot{
    display: block;
  }
  .frame-line.is--angle-right_bot, .frame-line.is--angle-left_bot{
    display: block;
  }
  .menu-button{
    cursor: pointer;
    display: block;
    position: relative;
    bottom:24px;
  }
  .line-wrapper{
    padding-left:0;
    padding-right:0;
}
  .line-wrapper-left{
    min-width: 4.875rem;
    height:2rem;
  }
  .spin-icon_wr{
    padding-left: 13px;
  }
  .line-divider.cc--slanted{
    width:3.3rem;
    margin-right: -.97rem;
  }
  .grid-layout{
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    margin-bottom: 16px;
  }
  .we-do_flex{
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 178px;
    display: flex;
  }

  .we-do{
    margin-top: .25rem;
  }
  .we-do_container.container{
    margin-top:130px;
  }
  .line-wrapper-left.cc--awards{
    min-width: auto;
  }
}

@media screen and (max-width: 767px){
  .line-wrapper-left{
    min-width:3rem;
    height:1.7rem;
  }
  .line-divider.cc--slanted{
    width:3.3rem;
    margin-right: -.96rem;
  }
  .we-do_container.container{
    margin-top: 130px;
  }
  .grid-layout{
    margin-bottom:12px ;
  }
  .we-do_flex{
    margin-top: 80px;
  }
  .we-do_top-flex{
    justify-content: space-between;
  }
  .line-wrapper-left.cc--awards{
    height:1.7rem
  }
}
@keyframes rotate360{
  100%{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}